<h1>Real time products</h1>

<div class="products-list" id="productsList"></div>

<form>
  <label for="title">Title</label>
  <input type="text" id="form-title" />
  <label for="">Status</label>
  <select id="form-select">
    <option value="true">True</option>
    <option value="false">Falso</option>
  </select>
  <label>category</label>
  <input type="text" id="form-category" />
  <label>Description</label>
  <input type="text" id="form-description" />
  <label>Price</label>
  <input type="text" id="form-price" />
  <label>Code</label>
  <input type="text" id="form-code" />
  <label>Stock</label>
  <input type="number" id="form-stock" />

  <button id="submit-button">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>